.navbar{
    height: 80px;
    margin: 10px;
    border-radius: 16px;
    padding: 0.5rem;
}

.logout-button {
    background-color: #D32F2F;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3 background-color;
}

.logout-button:hover {
    background-color: #B71C1C;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active{
    color: #d5d5d5;
}
@media (min-width: 765px){
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%; 
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #ffffff;
        visibility: hidden;
        transition: 0.5 ease-in-out;
    }
    
    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}


