@import url(`https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap`);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.wrapper{
    background: #ffffff;
    width: 450px;
    border-radius: 10px;
}

.wrapper header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px 10px;
}
.calendar ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}