
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alerts</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">

</head>
<body>
    {% include 'partials/staffNav.html' %}

    {% block content %}
    <h1>Alerts</h1>
    <table>
        <tr>
            <th>Ingredient</th>
            <th>Alert Type</th>
            <th>Resolved</th>
        </tr>
        {% for alert in unresolved_alerts %}
        <tr>
            <td>{{ alert.ingredient }}</td>
            <td>{{ alert.alert_type }}</td>
            <td>{{ alert.resolved }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No unresolved alerts</td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}

</body>
</html>
