<!-- 
 If we are using a template from the base.html we can just call it using this line
{% extends 'partials/base.html' %} 
 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page - first screen the user sees</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" /> <!--import for icons-->
    <script src="script.js"></script>
</head>
<body>
    <!--creating the login form-->
    <div class ="form-container">
        <i class="uil uil-times"> <!--using the x icon-->
            <div class="login_form">
                <form action="#">
                    <h2>Login</h2>
                </form>
            </div>
        </i>
    </div>
</body>
</html>