{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Page</title>
    <link rel="stylesheet" href="{% static 'basepage.css' %}">
</head>
<body>
    {% include 'partials/nav.html' %}

    <section class="home">
        <div class="dashboard-header">
            <h1>Welcome, .</h1>
            <p>Here is a quick look at your restaurant's general information.</p>
        </div>

        <div class="dashboard-cards">
            <div class="dashboard-card">
                <h3>Stock Alerts</h3>
                <p class="dashboard-value alert">5</p>
            </div>

            <div class="dashboard-card">
                <h3>Pending Supply Orders</h3>
                <p class="dashboard-value">{{ pending_supply}}</p>
            </div>

            <div class="dashboard-card">
                <h3>Monthly Sells</h3>
                <p class="dashboard-value">$123,456</p>
            </div>

            <div class="dashboard-card dashboard-stock-alerts">
                <h3>Stock Alerts</h3>
                <p class="dashboard-value alert">{{ total_alerts }}</p>

                {% if alert_items %}
                    <table class="table table-striped stock-alerts-table">
                        <thead>
                            <tr>
                                <th>Ingredient</th>
                                <th>Quantity</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for alert in alert_items %}
                            <tr>
                                <td>{{ alert.ingredient }}</td>
                                <td>{{ alert.ingredient.quantity_in_stock }}</td>
                                <td>
                                    <span class="status {% if alert.alert_type == 'Out of Stock' %}status-out{% else %}status-low{% endif %}">
                                        {{ alert.alert_type }}
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No stock alerts at the moment.</p>
                {% endif %}
            </div>


        </div>
    </section>
</body>
</html>